<!-- This will display the the home state to decide where to navigate to -->
<div ng-controller="HomeController as nav">
	<button ng-hide='nav.LogBtn' style="margin:15px;"class='btn btn-danger btn-sm' type="button" ng-click='nav.LOGIN()'>Log-In</button>

	<button ng-hide='nav.LogBtn' style="margin:15px;"class='btn btn-danger btn-sm' type="button" ng-click='nav.LogOut()'>Log-Out</button>

	<h1 style="text-align:center;margin-top:.5px;">{{nav.title}}</h1>
	<div class="row">
		<div class="col-md-12">
			<h4 style="text-align:center;padding-bottom:20px">
				Event planning for the 21st century!
			</h4>
		</div>
	</div>
	<div class="container-fluid">
		<div id='logIn'>



			<div ng-show="nav.showme" >

				<div>
					<button ng-hide='nav.NewUser' ng-click='nav.newUserLogIn()'>New User</button>
					<form class="well container" ng-submit="nav.loginUser()">
     <h1 style="color:red;text-align:center;font-family:Sans Serif">Sign In</h1>
  <md-input-container>
     <input class="form-control"  placeholder="Username..." ng-model="nav.user.username">
  </md-input-container>

	<!-- <div class="form-group">
		<input type="password" class="form-control" id="exampleInputPassword1" />
	</div> -->


    <md-input-container class="form-group">
			<label for="exampleInputPassword1">
				Password
			</label>
     <input type="password" class="form-control"  id="exampleInputPassword1" placeholder="Password..." ng-model="nav.user.password">
  </md-input-container>
    <md-input-container>
     <div style="text-align: center">
       <button type='button' ng-click="nav.isLogin = false;" class="btn btn-info">Register</a>
       <button type="submit" class="btn btn-primary" >Login</button><br><br>
   </md-input-container>
     </div>
   </form>
 </div>

 <div ng-show="!nav.isLogin">


   <form class="well container" style="text-align:center"ng-submit="nav.registerUser()">
     <h1 style="text-align:center;color:red;">Registration</h1>

     <md-content layout-padding class="autoScroll">
    <md-input-container class="md-icon-float">
      <!-- Use floating label instead of placeholder -->

      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input placeholder="Username..." ng-model="nav.user.username"  type="text">
    </md-input-container><br>

    <md-input-container >

      <!-- Use floating placeholder instead of label -->
      <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
      <input ng-model="nav.user.email" type="email" placeholder="Email " >
    </md-input-container><br>

<md-input-container>

     <input  type="password" placeholder="Password..." ng-model="nav.user.password" >
   </md-input-container><br>

 <md-input-container>

     <input type="password" placeholder="Confirm Password..." ng-model="nav.user.confirmPassword" >
   </md-input-container><br><br><br>

   <button type='button' ng-click="nav.isLogin = true;" class="btn btn-warning">exit</a>
 </md-content>



     <div ng-show="nav.user.password && nav.user.confirmPassword && !(nav.user.password === nav.user.confirmPassword)" style="color: red">Your passwords must match.</div>

     <div style="text-align:center">
       <!-- <button type="button" ng-click="nav.isLogin = true;" class="btn btn-primary">Login</button> -->
       <button style='margin-left:15px' type="submit" class="btn btn-info">Join!</button>
     </div>


   </form>

					<!-- <form ng-hide='nav.NewLogin'> -->
						<!-- <md-input-container>
			        <label>Name</label>
			        <input ng-model="nav.user.fName">
			      </md-input-container>
			      <md-input-container>
			        <label>Last Name</label>
			        <input ng-model="nav.user.lName">
						</md-input-container> -->
			      <!-- </md-input-container>
			      <md-input-container>
			        <label>User Name</label>
			        <input ng-model="nav.user.username">
			      <md-input-container>
			        <label>Email</label>
			        <input type="email" ng-model="nav.user.email">
			      </md-input-container>
			      <md-input-container>
			        <label>Password</label>
			        <input type="password" ng-model="nav.user.password">
			      </md-input-container><br>
						<md-container>
			        <md-button type="button" ng-click="nav.registerUser()">Join</md-button>
							<md-button type="button" ng-click="nav.CancelLogin()">Cancel</md-button>
			      </md-container>
					</form>

				</div>

				<div >
					<button ng-hide='nav.ReturnUser' ng-click='nav.rtnUserLogIn()'>Returning User</button>

					<form ng-hide='nav.RtnLogin'>
						<md-input-container>
			        <label>Email</label>
			        <input type="email" ng-model="nav.user.email">
			      </md-input-container>
			      <md-input-container>
			        <label>Password</label>
			        <input type="password" ng-model="nav.user.password">
			      </md-input-container><br>
						<md-container>
			        <md-button type="button" class='md-warn md-raised' ng-click="nav.LogIn()">Join</md-button>
							<md-button type="button" ng-click="nav.CancelLogin()">Cancel</md-button>
			      </md-container>
					</form> -->

				</div>
					<a ng-show='nav.Cancel' ng-click='nav.CancelLogin()'>Cancel</a>
				</div>
		</div>

	<div  style="text-align:center;margin-top:20px;"class="row">
		<div style="margin-bottom:15px;"class="col-md-4">
			<a ui-sref='Profile' style="width:300px;height:200px;"><h3>Profile</h3><img height='225' src='https://dhrm.utah.gov/wp-content/themes/dhrm/img/icon-employeebadge-white-large.png'></a>
		</div>
		<!-- http://simpleicon.com/wp-content/uploads/Calendar-Time.png -->
		<div style="margin-bottom:15px;"class="col-md-4">
			<a ui-sref='EventPage' style="width:300px;height:200px;"><h3>Event Calendar</h3><img height='225' src='http://orpheumbell.com/wp-content/uploads/2010/04/icon-calendar-white.png'></a>
		</div>
		<!-- http://alzlive.com/wp-content/themes/alz-live/images/icons/icon-calendar-plus_circle.png -->
		<div class="col-md-4">
			<a ui-sref='EventHome' style="width:300px;height:200px"><h3>Create/Run Event</h3><img height='225' src='http://alzlive.com/wp-content/themes/alz-live/images/icons/icon-calendar-plus_circle.png'></a>
		</div>
	</div>
</div>

	<!-- End of controller  -->
</div>
