<!-- This page is used as the home page for the event admin -->
<button class="btn btn-lg btn-default" ui-sref='Home' style="margin-top:10px;margin-left:15px;width:200px">Home</button>
<button class="btn btn-lg btn-default" ui-sref='AddEvent' style="margin-top:10px;margin-left:150px;width:200px">Add Event</button>

<div ng-controller='EventController as vm'>
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-12">
  		</div>
      	</div>
        	<div class="row">
        		<div class="col-md-5">
        			<table class="table table-bordered table-condensed">
                <caption style="font-size:2em;">Now Playing</caption>
        				<thead>
        					<tr>
        						<th>
        							#
        						</th>
        						<th>
        							Instruments
        						</th>
        						<th>
        							Performer
        						</th>
        					</tr>
        				</thead>
        				<tbody>
        					<tr>
        						<td>
        							1
        						</td>
        						<td>
        							TB - Monthly
        						</td>
        						<td>
        							01/04/2012
        						</td>

        					</tr>
        					<tr class="active">
        						<td>
        							2
        						</td>
        						<td>
        							TB - Monthly
        						</td>
        						<td>
        							01/04/2012
        						</td>

        					</tr>
        					<tr class="success">
        						<td>
        							3
        						</td>
        						<td>
        							TB - Monthly
        						</td>
        						<td>
        							02/04/2012
        						</td>

        					</tr>
        					<tr class="warning">
        						<td>
        							4
        						</td>
        						<td>
        							TB - Monthly
        						</td>
        						<td>
        							03/04/2012
        						</td>

        					</tr>
        					<tr class="danger">
        						<td>
        							5
        						</td>
        						<td>
        							TB - Monthly
        						</td>
        						<td>
        							04/04/2012
        						</td>
        					</tr>
        				</tbody>
        			</table>
        		</div>
      		<div class="col-md-5">
            <table class="table table-bordered table-condensed">
              <caption style="font-size:2em;">Up Next</caption>
              <thead>
                <tr>
                  <th>
                    #
                  </th>
                  <th>
                    Instruments
                  </th>
                  <th>
                    Performer
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    TB - Monthly
                  </td>
                  <td>
                    01/04/2012
                  </td>

                </tr>
                <tr class="active">
                  <td>
                    2
                  </td>
                  <td>
                    TB - Monthly
                  </td>
                  <td>
                    01/04/2012
                  </td>

                </tr>
                <tr class="success">
                  <td>
                    3
                  </td>
                  <td>
                    TB - Monthly
                  </td>
                  <td>
                    02/04/2012
                  </td>

                </tr>
                <tr class="warning">
                  <td>
                    4
                  </td>
                  <td>
                    TB - Monthly
                  </td>
                  <td>
                    03/04/2012
                  </td>

                </tr>
                <tr class="danger">
                  <td>
                    5
                  </td>
                  <td>
                    TB - Monthly
                  </td>
                  <td>
                    04/04/2012
                  </td>
                </tr>
              </tbody>
            </table>
      		</div>
      		<div style="text-align:center;"class="col-md-2">

      			<button style="margin-bottom:15px;" type="button" class="btn btn-sm btn-default">
      				Current Set Running Clock
      			</button><br>
      			<button style="margin-bottom:15px;"type="button" class="btn btn-sm btn-default">
      				Play / Pause Current Timer
      			</button><br>
      			<button style="width:168px;margin-bottom:15px;"type="button" class="btn btn-sm btn-default">
      				Force Next Set
      			</button><br>
      			<button style="width:168px;"type="button" class="btn btn-sm btn-default">
      				Force Previous Set
      			</button>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-md-10">
      		</div>
      		<div class="col-md-2">

      			<button style="float:right;margin-right:13px;margin-top:-75px;width:168px;"type="button" class="btn btn-lg btn-default">
      				Settings
      			</button>
      		</div>
      	</div>
      </div>







</div> <!-- End of controller -->
