<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Shaker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="javascript/ui-bootstrap-custom-0.14.3-csp.css">
	<link rel="stylesheet" type="text/css" href="angular-material/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<div id="nav" style="text-align:center;font-size:18px;color:white;">
		<a ui-sref="Home">Home</a>
		<a ui-sref="Events">All Events</a>
		<a ui-sref="EventPage">Single Event</a>
		<a ui-sref="EventHome">Run Event</a>
		<a ui-sref="Profile">Profile</a>
		<a ui-sref="AddEvent">Add Events</a>
	</div>

	<ui-view></ui-view>
	<!-- Ext Libs -->
	<script src="jquery/dist/jquery.min.js"></script>
	<script src="angular/angular.min.js"></script>
	<script src="angular-ui-router/release/angular-ui-router.min.js"></script>

	<script src="angular-animate/angular-animate.min.js"></script>
	<script src="angular-aria/angular-aria.min.js"></script>
	<script src="angular-material/angular-material.min.js"></script>


  <!-- <script src="javascript/ui-bootstrap-custom-0.14.3.min.js"></script>
	<script src="javascript/ui-bootstrap-custom-tpls-0.14.3.min.js"></script> -->
	<script src="angular-modal-service/dst/angular-modal-service.min.js"></script>
	<!-- Global Src -->
	<script src="/javascript/app.js"></script>
	<!-- Factories -->
	<script src="/javascript/services/HomeFactory.js"></script>
	<script src="/javascript/services/UserFactory.js"></script>
	<!-- Controllers -->
	<script src="/javascript/controllers/ExitController.js"></script>
	<script src="/javascript/controllers/HomeController.js"></script>
	<script src="/javascript/controllers/EventController.js"></script>
	<script src="/javascript/controllers/ProfileController.js"></script>
	<script src="/javascript/controllers/UpgradeController.js"></script>
	<!-- <script src="/javascript/controllers/CarouselDemoCtrl.js"></script> -->
</body>
</html>
